@font-face {
    font-family: 'DragonFont';
    src: url('assets/fonts/vinque\ rg.otf') format('truetype');
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'MyCustomFont', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fde8cc;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fde8cc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#preloader img {
    width: 50%;
    transform: translateX(calc(50% / 2));
    height: auto;
}

#preloader.hidden {
    opacity: 0;
    visibility: hidden;
}

.navbardiv {
    background-color: #fde8cc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar {
    background-color: #fde8cc;
    position: fixed;
    width: 70%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    font-family: 'DragonFont', sans-serif;
    font-size: 1.2rem;
}

.navbar .logo {
    position: absolute;
    left: 180px;
}

.navbar .logo img {
    height: 80px;
    width: 80px;
    outline: none;
    border: none;
}

.navbar .logo video {
    height: 80px;
    width: auto;
    cursor: pointer;
    outline: none;
    border: none;
}

.navbar .logo video:focus {
    outline: none;
    border: none;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 10px;
    padding: 0;
}

.navbar ul li {
    margin-left: 60px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: #ff7f00;
    transition: 0.5s;
}

.navbar .contact-btn {
    width: 180px;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    right: 0px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #333;
    display: block;
    border: 0px;
    box-shadow: 0px 0px 14px -7px #f15a24;
    background-image: linear-gradient(45deg, #FF5F6D 0%, #FFC371 51%, #FF5F6D 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.navbar .contact-btn:hover {
    background-position: right center;
    text-decoration: none;
}
  
.navbar .contact-btn:active {
    transform: scale(0.95);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 1001;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease;
}

.nav-links.active + .burger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.nav-links.active + .burger .line2 {
    opacity: 0;
}

.nav-links.active + .burger .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.about-section-nav{
    margin-top: -80px;
}

.team-section-nav{
    margin-top: -80px;
}


.contact-section-nav{
    margin-top: -80px;
}

.content {
    padding-top: 80px;
}

.welcome-nav {
    position: absolute;
}

.welcome-section {
    position: relative;
    text-align: center;
    padding-top: 80px;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    z-index: 10;
}

.welcome-section .dragon {
    max-height: 40%;
    margin-top: 40px;
    animation: floatupdown 3s ease-in-out infinite;
    position: relative;
    z-index: 10;
}

.welcome-section h1 {
    font-family: 'DragonFont', sans-serif;
    font-size: 2rem;
    position: relative;
    z-index: 10;
    animation: floatupdown 3s ease-in-out infinite;
    color: #3c3329;
}

.welcome-section h2 {
    display: none;
}

.back_imgs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.welcome-section .tail1 {
    position: absolute;
    left: 0;
    top: 50%;
    max-width: 30%;
    opacity: 0.7;
    animation: floatupdown 4s ease-in-out infinite;
    z-index: 2;
    transform: translateY(-50%);
}

.welcome-section .tail2 {
    position: absolute;
    right: 0;
    top: 40%;
    max-width: 30%;
    opacity: 0.7;
    animation: floatupdown 4s ease-in-out infinite;
    z-index: 2;
    transform: translateY(-40%);
}

.welcome-section .cloud1 {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 80%;
    min-width: 60%;
    opacity: 0.2;
    animation: floatleftright1 20s ease-in-out infinite;
    z-index: 1;
}

.welcome-section .cloud2 {
    position: absolute;
    right: 0;
    top: 20%;
    max-width: 60%;
    min-width: 50%;
    opacity: 0.2;
    animation: floatleftright2 15s ease-in-out infinite;
    z-index: 1;
}

.welcome-section .gate {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    z-index: 2;
    opacity: 1;
}

.welcome-section .templer {
    position: absolute;
    bottom: 0;
    left: -30%;
    max-width: 60%;
    max-height: 90%;
    z-index: 2;
    opacity: 1;
}

.welcome-section .templel {
    position: absolute;
    bottom: 0;
    right: -30%;
    max-width: 60%;
    max-height: 90%;
    z-index: 2;
    opacity: 1;
}

.arrow-down {
    position: absolute;
    z-index: 3;
    right: 50%;
    bottom: 0px;
    transform: translateX(50%);
    width: 100%;
    height: 15vh;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    transition: 0.5s;
}

.arrow-down:hover {
    transition: 0.5s;
    padding-bottom: 0px;
}

.arrow-down img {
    height: 84px;
    width: 84px;
}
  
.about-section {
    position: relative;
    width: 100%;
    background-color: #ff7f00;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.about-section-nav{
    margin-top: -80px;
}

.about-section h1 {
    font-size: 3rem;
    text-transform: uppercase;
    border-right: 3px solid white;
    padding-right: 40px;
    display: inline-block;
}

.about-section .content-about {
    padding-top: calc(5vh + 80px);
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5vh;
}

.about-section .text {
    padding-left: 40px;
    line-height: 1.3;
    font-size: 1.2rem;
    width: 70%;
}

.about-container-skills {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5vh;
}

.skills{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5vh;
    flex-wrap: wrap;
}

.skill-item {
    position: relative;
    background: linear-gradient(to right, #ffcc33, #ff9900);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: #000;
    flex: 1 1 25%;
    margin: 3vw;
}

.skill-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.skill-item h2 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}

.skill-item p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.team {
    position: relative;
    width: 100%;
    background-color: #fde8cc;
    color: #ff7f00;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 5vh;
}

.content-team {
    padding-top: calc(5vh + 80px);
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.content-team h1 {
    font-size: 3rem;
    text-transform: uppercase;
    border-right: 3px solid #ff7f00;
    padding-right: 40px;
    display: inline-block;
}

.text-team {
    padding-left: 40px;
    line-height: 1.3;
    font-size: 1.2rem;
    width: 70%;
}

.team-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.team-line{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.person{
    position: relative;
    flex: 1 1 25%;
    margin: 3vw;
    margin-top: 0;
    box-sizing: border-box;
}

.person h1{
    font-size: 1.5rem;
}

.person h2{
    font-size: 1.2rem;
}
.person h3{
    font-size: 1.2rem;
}

.person img{
    width: 100%;
}

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}
  
.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 64px;
    height: 64px;
    text-decoration: none;
    border-radius: 100%;
    background: #fff;
    text-align: center;
    transition: 0.3s;
}
  
.social-button::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
}
  
.social-button:focus,
.social-button:hover {
    color: #fff;
}
  
.social-button:focus::after,
.social-button:hover::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-left: calc(-50% - 1px);
}
  
.social-button i,
.social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}
  
.social-button i {
    font-size: calc(64px * 0.4);
}
  
.social-button svg {
    height: 40%;
    width: 40%;
}

.social-button--linkedin {
    color: #0077b5;
}

.social-button--linkedin::after {
    background: #0077b5;
}

.contact{
    position: relative;
    width: 100%;
    background-color: #ff7f00;
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content-contact {
    padding-top: calc(5vh + 80px);
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.text-contact {
    padding-left: 40px;
    line-height: 1.8;
    font-size: 1.2rem;
    width: 70%;
}

.content-contact h1 {
    font-size: 3rem;
    text-transform: uppercase;
    border-right: 3px solid white;
    padding-right: 40px;
    display: inline-block;
}
  
.contact-form {
    position: relative;
    background-color: #fde8cc;
    border-radius: 15px;
    padding: 60px;
    width: 30%;
    margin: 50px auto auto auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    margin-bottom: 60px;
}

.contact-form h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #3c3329;
    font-family: 'Poppins', sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: #3c3329;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff7f00;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    background-color: #b55b00;
    box-shadow: 0 0 10px rgba(255, 127, 0, 1);
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

input::placeholder {
    color: #f0f0f0;
    font-size: 1rem;
    opacity: 1;
}
  
textarea::placeholder {
    color: #f0f0f0;
    font-size: 1rem;
    opacity: 1;
}

.btn-submit {
    width: 100%;
    background-color: #ff7f00;
    color: #fff;
    border: none;
    padding: 16px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
}

.btn-submit:hover {
    background-color: #b55b00;
    transform: translateY(-4px);
    transition: 0.5s;
}

#status-message {
    text-align: center;
    font-size: 1rem;
    color: green;
    margin-top: 10px;
}

#status-message.error {
    color: red;
}

.contact_imgs {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
}

.contact-dragon {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 30%;
    animation: floatupdown 4s ease-in-out infinite;
    z-index: 2;
}

.contact-gate {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 30%;
    z-index: 2;
}

.contact-c1 {
    position: absolute;
    left: 0;
    top: 20%;
    max-width: 60%;
    min-width: 50%;
    opacity: 0.2;
    animation: floatleftright2 15s ease-in-out infinite;
    z-index: 1;
}

.contact-c2 {
    position: absolute;
    right: 0;
    top: 20%;
    max-width: 60%;
    min-width: 50%;
    opacity: 0.2;
    animation: floatleftright1 19s ease-in-out infinite;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        background-color: #ff7f00;
        z-index: 999;
        opacity: 0;
        max-height: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        overflow: hidden;
        border-radius: 0 0 15px 15px;
        justify-content: center;
        align-items: center;
    }

    .navbar ul li {
        transition: 1s;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
    }

    .navbar ul li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        transition: 1s;
    }

    .navbar ul li a:hover {
        color: #333;
    }

    .nav-links.active {
        display: flex;
        opacity: 1;
        max-height: 500px;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        justify-content: center;
        align-items: center;
    }

    .burger {
        position: absolute;
        display: block;
        cursor: pointer;
        right: 0;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px;
        transition: all 0.5s ease;
    }

    .burger.active .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.active .line2 {
        opacity: 0;
    }

    .burger.active .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .navbar .logo {
        position: absolute;
        left: 0;
    }

    .navbar .contact-btn {
        display: none;
    }

    .navbar {
        width: 90%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        z-index: 1000;
        font-family: 'DragonFont', sans-serif;
        font-size: 1.2rem;
    }

    .welcome-section .dragon {
        max-height: 60%;
        max-width: 50%;
        margin-top: 40px;
        animation: floatupdown 3s ease-in-out infinite;
        position: relative;
        z-index: 10;
    }
    
    .welcome-section h1 {
        font-family: 'DragonFont', sans-serif;
        font-size: 1.7rem;
        position: relative;
        z-index: 10;
        animation: floatupdown 3s ease-in-out infinite;
        color: #3c3329;
    }

    .welcome-section h2 {
        display: block;
        font-family: 'DragonFont', sans-serif;
        font-size: 1.3rem;
        position: relative;
        z-index: 10;
        animation: floatupdown 3s ease-in-out infinite;
        color: #3c3329;
    }

    .welcome-section .gate {
        display: none;
    }

    .arrow-down {
        margin-bottom: 100px;
        animation: arrow-padding 3s ease-in-out infinite;
      }
    
    .arrow-down img {
        height: 54px;
        width: 54px;
    }

    .about-section h1 {
        font-size: 2rem;
        border-right: 0;
        border-bottom: 3px solid white;
        padding-right: 0;
        padding-bottom: 20px;
    }
    
    .about-section .content-about {
        flex-direction: column; 
    }
    
    .about-section .text {
        padding-left: 0;
        line-height: 1.2;
        font-size: 1.2rem;
        width: 100%;
        font-weight: 500;
    }
    
    .about-container-skills {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .skills{
        flex-direction: column;
    }
    
    .skill-item img {
        width: 64px;
        height: 64px;
        margin-bottom: 15px;
    }
    
    .skill-item h2 {
        font-size: 1.3rem;
        margin: 0;
        font-weight: bold;
    }
    
    .skill-item p {
        font-size: 1.1rem;
        margin-top: 10px;
        font-weight: 500;
    }
    
    .content-team {
        flex-direction: column;
    }
    
    .content-team h1 {
        font-size: 2rem;
        text-transform: uppercase;
        border-right: 0;
        border-bottom: 3px solid #ff7f00;
        padding-right: 0;
        padding-bottom: 20px;
        display: inline-block;
    }
    
    .text-team {
        padding-left: 0;
        line-height: 1.2;
        font-size: 1.2rem;
        width: 100%;
        font-weight: 500;
    }
    
    .team-line{
        flex-direction: column;
    }
    
    .person h1{
        font-size: 1.3rem;
    }
    
    .person h2{
        font-size: 1.1rem;
    }
    .person h3{
        font-size: 1.1rem;
    }
      
    .social-button {
        width: 54px;
        height: 54px;
    }
    
    .contact {
        height: auto;
    }

    .content-contact {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .text-contact {
        padding-left: 0;
        line-height: 1.2;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .content-contact h1 {
        font-size: 2rem;
        border-right: 0;
        border-bottom: 3px solid white;
        padding-right: 0;
        padding-bottom: 20px;
    }
      
    .contact-form {
        padding: 40px;
        width: 80%;
        margin: 40px auto auto auto;
        margin-bottom: 140px;
    }
    
    .form-group textarea {
        resize: vertical;
        height: 160px;
    }
    
    input::placeholder {
        color: #f0f0f0;
        font-size: 1rem;
        opacity: 1;
    }
      
    textarea::placeholder {
        color: #f0f0f0;
        font-size: 1rem;
        opacity: 1;
    }
    
    .contact-dragon {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        max-height: 140px;
        max-width: none;
        z-index: 5;
    }
    
    .contact-gate {
        left: 50%;
        transform: translateX(-50%);
        max-height: 200px;
        max-width: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1320px) {
    
    .navbar {
        width: 90%;
    }

    .navbar .contact-btn {
        display: none;
    }

    .navbar .logo {
        position: absolute;
        left: 0;
    }

    .navbar .contact-btn {
        display: none;
    }

    .nav-links {
        width: 80%;
        position: absolute;
    }
}

@media screen and (min-width: 1321px) and (max-width: 1800px) {
    
    .navbar {
        width: 90%;
    }
}

@keyframes floatupdown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes arrow-padding {
    0% {
        padding-bottom: 100px;
    }
    50% {
        padding-bottom: 130px;
    }
    100% {
        padding-bottom: 100px;
    }
}

@keyframes floatleftright1 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes floatleftright2 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0);
    }
}